@using PagedList.Mvc
@using RSI.Cashed
@model PagedList.IPagedList<RSI.Models.Doctors>
@{
    ViewBag.Title = "Results";
}
@{
    if (ViewBag.Error != null)
    {
        <h1>
            <span class="glyphicon glyphicon-exclamation-sign text-danger"></span></h1>
        <h2>
            <span class="text-danger">@ViewBag.Error</span></h2>
    }
}
@if (Request.IsAuthenticated)
{
    <div class="row" style="height: 820px;">&nbsp;</div>
    <div class="result-view">

    @using (Ajax.BeginForm("Index", "Doctors", new AjaxOptions { HttpMethod = "POST", LoadingElementId = "ajaxBusy", InsertionMode = InsertionMode.Replace, UpdateTargetId = "result-view" }))
    { 
        <table class="table table-condensed table-bordered full-width">
        <tr>
         @{ var colspan = "18"; }
         @*@if (!ViewBag.Country.Equals("0") && !ViewBag.Country.Equals(CountriesList.Instance.GetIndexByCode("CAN")))
         {
             colspan = "17";
         }*@
            <td colspan="@colspan">
            Country:&nbsp;@Html.DropDownList(
                 "countryId",
                 (IEnumerable<SelectListItem>)ViewBag.Countries,
                 new
                 {
                     style = "width: 380px; font-weight: bold",
                     onchange = "$(this.form).submit();",
                     specialtyFilter = ViewBag.SpecialtyFilter,
                     sortorder = ViewBag.CurrentSort,
                     rankFilter = ViewBag.RankFilter,
                     stateFilter = ViewBag.StateFilter,
                     yearFilter = ViewBag.YearFilter,
                     countryId = ViewBag.Country
                 })
            </td>
         </tr>
             <tr class="header">
                 <th>
                     @Ajax.ActionLink(
                         "DR ID",
                         "Index",
                         new
                         {
                             sortorder = ViewBag.DrIdSortParm,
                             specialtyFilter = ViewBag.SpecialtyFilter,
                             rankFilter = ViewBag.RankFilter,
                             stateFilter = ViewBag.StateFilter,
                             yearFilter = ViewBag.YearFilter,
                             countryId = ViewBag.Country
                         },
                         new AjaxOptions {HttpMethod = "POST"},
                         new {style = "white-space:nowrap;"})
                 </th>
                 <th>
                     @Ajax.ActionLink(
                         "Rank",
                         "Index",
                         new
                         {
                             sortorder = ViewBag.RankSortParm,
                             specialtyFilter = ViewBag.SpecialtyFilter,
                             rankFilter = ViewBag.RankFilter,
                             stateFilter = ViewBag.StateFilter,
                             yearFilter = ViewBag.YearFilter,
                             countryId = ViewBag.Country
                         },
                         new AjaxOptions {HttpMethod = "POST"},
                         new {style = "white-space:nowrap;"})
                 </th>
                 <th>
                     @Ajax.ActionLink(
                         "Publications",
                         "Index",
                         new
                         {
                             sortorder = ViewBag.PublicationsSortParm,
                             specialtyFilter = ViewBag.SpecialtyFilter,
                             rankFilter = ViewBag.RankFilter,
                             stateFilter = ViewBag.StateFilter,
                             yearFilter = ViewBag.YearFilter,
                             countryId = ViewBag.Country
                         },
                         new AjaxOptions {HttpMethod = "POST"},
                         new {style = "white-space:nowrap;"})
                 </th>
                 <th>
                     @Ajax.ActionLink(
                         "Recent Date",
                         "Index",
                         new
                         {
                             sortorder = ViewBag.RecentDateSortParm,
                             specialtyFilter = ViewBag.SpecialtyFilter,
                             rankFilter = ViewBag.RankFilter,
                             stateFilter = ViewBag.StateFilter,
                             yearFilter = ViewBag.YearFilter,
                             countryId = ViewBag.Country
                         },
                         new AjaxOptions {HttpMethod = "POST"},
                         new {style = "white-space:nowrap;"})
                 </th>
                 <th>
                     NPI
                 </th>
                 <th>
                     <span style="white-space: nowrap;">Reviewer ID</span>
                 </th>
                 <th>
                     @Ajax.ActionLink(
                         "Specialty",
                         "Index",
                         new
                         {
                             sortorder = ViewBag.SpecialtySortParm,
                             specialtyFilter = ViewBag.SpecialtyFilter,
                             rankFilter = ViewBag.RankFilter,
                             stateFilter = ViewBag.StateFilter,
                             yearFilter = ViewBag.YearFilter,
                             countryId = ViewBag.Country
                         },
                         new AjaxOptions {HttpMethod = "POST"},
                         new {style = "white-space:nowrap;"})
                 </th>
                 <th>
                     @Ajax.ActionLink(
                         "First Name",
                         "Index",
                         new
                         {
                             sortorder = ViewBag.FirstNameSortParm,
                             specialtyFilter = ViewBag.SpecialtyFilter,
                             rankFilter = ViewBag.RankFilter,
                             stateFilter = ViewBag.StateFilter,
                             yearFilter = ViewBag.YearFilter,
                             countryId = ViewBag.Country
                         },
                         new AjaxOptions {HttpMethod = "POST"},
                         new {style = "white-space:nowrap;"})
                 </th>
                 <th>
                     @Ajax.ActionLink(
                         "Last Name",
                         "Index",
                         new
                         {
                             sortorder = ViewBag.LastNameSortParm,
                             specialtyFilter = ViewBag.SpecialtyFilter,
                             rankFilter = ViewBag.RankFilter,
                             stateFilter = ViewBag.StateFilter,
                             yearFilter = ViewBag.YearFilter,
                             countryId = ViewBag.Country
                         },
                         new AjaxOptions {HttpMethod = "POST"},
                         new {style = "white-space:nowrap;"})
                 </th>
                 <th>
                     @Ajax.ActionLink(
                         "Address",
                         "Index",
                         new
                         {
                             sortorder = ViewBag.AddressSortParm,
                             specialtyFilter = ViewBag.SpecialtyFilter,
                             rankFilter = ViewBag.RankFilter,
                             stateFilter = ViewBag.StateFilter,
                             yearFilter = ViewBag.YearFilter,
                             countryId = ViewBag.Country
                         },
                         new AjaxOptions {HttpMethod = "POST"},
                         new {style = "white-space:nowrap;"})
                 </th>
                 <th>
                     @Ajax.ActionLink(
                         "City",
                         "Index",
                         new
                         {
                             sortorder = ViewBag.CitySortParm,
                             specialtyFilter = ViewBag.SpecialtyFilter,
                             rankFilter = ViewBag.RankFilter,
                             stateFilter = ViewBag.StateFilter,
                             yearFilter = ViewBag.YearFilter,
                             countryId = ViewBag.Country
                         },
                         new AjaxOptions {HttpMethod = "POST"},
                         new {style = "white-space:nowrap;"})
                 </th>
                 @if (ViewBag.Country.Equals("0") || ViewBag.Country.Equals(CountriesList.Instance.GetIndexByCode("CAN")))
                 {
                     <th>
                         @{
                             var stateReplacement = "State";
                             if (!ViewBag.Country.Equals("0"))
                             {
                                 if (ViewBag.Country.Equals(CountriesList.Instance.GetIndexByCode("CAN")))
                                 {
                                     stateReplacement = "Province";
                                 }
                             }
                         }
                         @Ajax.ActionLink(stateReplacement,
                             "Index",
                             new
                             {
                                 sortorder = ViewBag.StateSortParm,
                                 specialtyFilter = ViewBag.SpecialtyFilter,
                                 rankFilter = ViewBag.RankFilter,
                                 stateFilter = ViewBag.StateFilter,
                                 yearFilter = ViewBag.YearFilter,
                                 countryId = ViewBag.Country
                             },
                             new AjaxOptions {HttpMethod = "POST"},
                             new {style = "white-space:nowrap;"})
                     </th>
                 }
                 <th>
                     @(ViewBag.Country.Equals("0") ? Html.Label("Zipcode") : Html.Label("Postal Code", new {style = "white-space: nowrap;"}))
                 </th>
                 @if (ViewBag.Country.Equals("1"))
                 {
                     <th>
                         @Ajax.ActionLink(
                         "Country",
                         "Index",
                         new
                         {
                             sortorder = ViewBag.CountrySortParm,
                             specialtyFilter = ViewBag.SpecialtyFilter,
                             rankFilter = ViewBag.RankFilter,
                             stateFilter = ViewBag.StateFilter,
                             yearFilter = ViewBag.YearFilter,
                             countryId = ViewBag.Country
                         },
                         new AjaxOptions { HttpMethod = "POST" },
                         new { style = "white-space:nowrap;" })
                     </th>
                 }
                 <th>
                     Phone
                 </th>
                 <th>
                     Fax
                 </th>
                 <th>
                     Email
                 </th>
                 <th></th>
                 <th></th>
             </tr>
             <tr class="low-height">
                 <th><!-- DRID --></th>
                 <th>
                     <!-- Rank -->
                     @Html.DropDownList(
                         "rankFilter",
                         (IEnumerable<SelectListItem>) ViewBag.Ranks,
                         "All",
                         new
                         {
                             style = "width:50px;",
                             onchange = "$(this.form).submit();",
                             specialtyFilter = ViewBag.SpecialtyFilter,
                             sortorder = ViewBag.CurrentSort,
                             rankFilter = ViewBag.RankFilter,
                             stateFilter = ViewBag.StateFilter,
                             yearFilter = ViewBag.YearFilter,
                             countryId = ViewBag.Country //,
                             //multiple = "multiple"
                         })
                 </th>
                 <th><!-- Publications --></th>
                 <th><!-- Recent Date-->
                 @Html.DropDownList(
                    "yearFilter",
                     (IEnumerable<SelectListItem>) ViewBag.Years,
                     "All",
                     new
                     {
                         style = "width:70px;",
                         onchange = "$(this.form.submit());",
                         specialtyFilter = ViewBag.SpecialtyFilter,
                         sortorder = ViewBag.CurrentSort,
                         rankFilter = ViewBag.RankFilter,
                         stateFilter = ViewBag.StateFilter,
                         yearFilter = ViewBag.YearFilter,
                         countryId = ViewBag.Country
                     })
                 </th>
                 <th><!-- NPI --></th>
                 <th><!-- Reviewer ID--></th>
                 <th>
                     <!-- Specialty -->
                     @Html.DropDownList(
                         "specialtyFilter",
                         (IEnumerable<SelectListItem>) ViewBag.Specialties,
                         "All",
                         new
                         {
                             style = "width:160px;",
                             onchange = "$(this.form).submit();",
                             specialtyFilter = ViewBag.SpecialtyFilter,
                             sortorder = ViewBag.CurrentSort,
                             rankFilter = ViewBag.RankFilter,
                             stateFilter = ViewBag.StateFilter,
                             yearFilter = ViewBag.YearFilter,
                             countryId = ViewBag.Country
                         })
                 </th>
                 <th><!-- First Name --></th>
                 <th><!-- Last Name --></th>
                 <th><!-- Address --></th>
                 <th><!-- City --></th>
                 @if (ViewBag.Country.Equals("0") || ViewBag.Country.Equals(CountriesList.Instance.GetIndexByCode("CAN")))
                 {
                     <th>
                         <!-- State -->
                         @Html.DropDownList(
                             "stateFilter",
                             (IEnumerable<SelectListItem>) ViewBag.States,
                             "All",
                             new
                             {
                                 style = "width:50px;",
                                 onchange = "$(this.form).submit();",
                                 specialtyFilter = ViewBag.SpecialtyFilter,
                                 sortorder = ViewBag.CurrentSort,
                                 rankFilter = ViewBag.RankFilter,
                                 stateFilter = ViewBag.StateFilter,
                                 yearFilter = ViewBag.YearFilter,
                                 countryId = ViewBag.Country
                             })
                     </th>
                 }
                 <th><!-- Zipcode --></th>
                 @if (ViewBag.Country.Equals("1"))
                 {
                     <th><!-- Country --></th>
                 }
                 <th><!-- Phone --></th>
                 <th><!-- Fax --></th>
                 <th><!-- Email --></th>
                 <th></th>
                 <th></th>
             </tr>
             @{
                 var odd = true;
             }
             @foreach(var item in Model)
             {
             <tr class="@(item.DRID == ViewBag.DRID ? "highlight" : odd ? "odd" : "even")">
                 <td>
                 @Html.DisplayFor(modelItem => item.DRID)
                 </td>
                 <td >
                 @Html.DisplayFor(modelItem => item.Rank)
                 </td>
                 <td>
                 @Html.DisplayFor(modelItem => item.Publications)
                 </td>
                 <td>
                 @Html.DisplayFor(modelItem => item.RecentDate)
                 </td>
                 <td>
                 @Html.DisplayFor(modelItem => item.NPI)
                 </td>
                 <td>
                 @Html.DisplayFor(modelItem => item.REVIEWER_ID)
                 </td>
                 <td>
                 <span style = "white-space: nowrap;" > @Html.DisplayFor(modelItem => item.Specialty) </span>
                 </td>
                 <td>
                 <span style = "white-space: nowrap;" > @Html.DisplayFor(modelItem => item.First_Name) </span>
                 </td>
                 <td>
                 <span style = "white-space: nowrap;" > @Html.DisplayFor(modelItem => item.Last_Name) </span>
                 </td>
                 <td>
                 <span style = "white-space: nowrap;">
                 @{
                     var formattedAddress = string.IsNullOrWhiteSpace(item.Address) ? string.Empty : item.Address;
                     if (formattedAddress.Length > 27)
                     {
                         formattedAddress = $"{formattedAddress.Substring(0, 24)}...";
                     }
                     @Html.DisplayFor(modelItem => formattedAddress)
                 }
                </span>

                 </td>
                 <td>
                     <span style = "white-space: nowrap;" > @Html.DisplayFor(modelItem => item.City) </span>
                 </td>
                @if (ViewBag.Country.Equals("0") || ViewBag.Country.Equals(CountriesList.Instance.GetIndexByCode("CAN")))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.State)
                    </td>
                }
                 <td>
                     <span style = "white-space: nowrap;" > @Html.DisplayFor(modelItem => item.Zipcode) </span>
                 </td>
                 @if (ViewBag.Country.Equals("1"))
                 {
                     <td>
                         <span style="white-space: nowrap;"> @Html.DisplayFor(modelItem => item.Country) </span>
                     </td>
                 }
                 <td class="centered">
                 @{
                     if (!string.IsNullOrWhiteSpace(item.Phone))
                     {
                         if (item.Phone.Length > 0)
                         {
                         <span class="glyphicon glyphicon-ok green centered" ></span>
                         }
                     }
                 }
             </td>
                 <td class="centered">
                 @{
                     if (!string.IsNullOrWhiteSpace(item.Fax))
                     {
                         if (item.Fax.Length > 0)
                         {
                         <span class="glyphicon glyphicon-ok green centered" ></span>
                         }
                     }
                 }
             </td>
                 <td class="centered">
                 @{
                     var formattedEmail = string.IsNullOrWhiteSpace(item.Email_Address) ? string.Empty : item.Email_Address;
                     if (formattedEmail.Length > 0)
                     {
                         <span class="glyphicon glyphicon-ok green centered"></span>
                     }
                 }
             </td>
                 <td>
                 @Ajax.ActionLink(
                     "Details",
                     "Details",
                     new
                     {
                         id = item.DRID,
                         sortorder = ViewBag.CurrentSort,
                         page = ViewBag.PageNumber,
                         specialtyFilter = ViewBag.SpecialtyFilter,
                         rankFilter = ViewBag.RankFilter,
                         stateFilter = ViewBag.StateFilter,
                         yearFilter = ViewBag.YearFilter,
                         countryId = ViewBag.Country
                     },
                     new AjaxOptions {HttpMethod = "POST"},
                     new {@class = "btn btn-default btn-xs"})
                 </td>
                 <td>
                 @Ajax.ActionLink(
                     "Edit",
                     "Edit",
                     new
                     {
                         id = item.DRID,
                         sortorder = ViewBag.CurrentSort,
                         page = ViewBag.PageNumber,
                         specialtyFilter = ViewBag.SpecialtyFilter,
                         rankFilter = ViewBag.RankFilter,
                         stateFilter = ViewBag.StateFilter,
                         yearFilter = ViewBag.YearFilter,
                         countryId = ViewBag.Country
                     },
                     new AjaxOptions {HttpMethod = "POST"},
                     new {@class = "btn btn-default btn-xs"})
                 </td>
                 </tr>
                 odd = !odd;
             }
         </table>


             <div class="col-md-6">
             Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount (@ViewBag.TotalRecords records)
             @Html.PagedListPager(Model,
                 page => Url.Action(
                     "Index",
                     new
                     {
                         page,
                         sortorder = ViewBag.CurrentSort,
                         specialtyFilter = ViewBag.SpecialtyFilter,
                         rankFilter = ViewBag.RankFilter,
                         stateFilter = ViewBag.StateFilter,
                         yearFilter = ViewBag.YearFilter,
                         countryId = ViewBag.Country
                     }
                     ))
             </div>

             <div class="col-md-6 pull-left">
             @Ajax.ActionLink(
                 "Download",
                 "CsvList",
                 new
                 {
                     sortorder = ViewBag.CurrentSort,
                     specialtyFilter = ViewBag.SpecialtyFilter,
                     rankFilter = ViewBag.RankFilter,
                     stateFilter = ViewBag.StateFilter,
                     yearFilter = ViewBag.YearFilter,
                     countryId = ViewBag.Country,
                     page = ViewBag.PageNumber
                 },
                 new AjaxOptions {HttpMethod = "POST"},
                 new {@class = "btn btn-default btn-sm"})
             </div>
         }
    
    @*@Html.EndForm()</table>*@

    </div>

    <br/><br/>

    @section scripts{
    <script language="javascript" type="text/javascript">
        $(function() {
            var $target = $('tr.highlight');

            setInterval(function() {
                    $target.removeClass('highlight');
                    if ($target.prev().attr('class') === 'odd') {
                        $target.addClass('even');
                    } else {
                        $target.addClass('odd');
                    }
                },
                7500);
        });

        function UpdateQueryString(key, value, url) {
            if (!url) url = window.location.href;
            var re = new RegExp("([?&])" + key + "=.*?(&|#|$)(.*)", "gi"),
                hash;

            if (re.test(url)) {
                if (typeof value !== 'undefined' && value !== null)
                    return url.replace(re, '$1' + key + "=" + value + '$2$3');
                else {
                    hash = url.split('#');
                    url = hash[0].replace(re, '$1$3').replace(/(&|\?)$/, '');
                    if (typeof hash[1] !== 'undefined' && hash[1] !== null)
                        url += '#' + hash[1];
                    return url;
                }
            }
            else {
                if (typeof value !== 'undefined' && value !== null) {
                    var separator = url.indexOf('?') !== -1 ? '&' : '?';
                    hash = url.split('#');
                    url = hash[0] + separator + key + '=' + value;
                    if (typeof hash[1] !== 'undefined' && hash[1] !== null)
                        url += '#' + hash[1];
                    return url;
                }
                else
                    return url;
            }
        }

        //$(document).ajaxStart(function () {
        //    $('#ajaxBusy').show();
        //});
        //$(document).ajaxStop(function () {
        //    $('#ajaxBusy').hide();
        //});

        $(document).ready(function () {
            $('body').append('<div id="ajaxBusy" style="display:none"><p><img src="../../Content/images/ajaxloader.gif" alt="Loading..."/></p></div>');

            $('#ajaxBusy').css({
                display: "none",
                margin: "0",
                paddingLeft: "0",
                paddingRight: "0",
                paddingTop: "0",
                paddingBottom: "0",
                position: "absolute",
                left: "50%",
                top: "50%",
                width: "auto"
            });

        });
    </script>
    }
}